---
import Layout from "../layouts/Layout.astro";
---

<Layout title="FrameStyle-home">
  <main class="main">
    <section class="home">
      <div class="home__container">
        <img src="/home-point.png" alt="img" class="home__points" />
        <img src="/home-moon.png" alt="img" class="home__moon" />
        <img src="/house.svg" alt="img" class="home__house" />
        <img src="/mountainForest.svg" alt="img" class="home__mountainForest" />
        <img src="/eyeColor.svg" alt="img" class="home__eyeColor" />
        <img src="/gost.svg" alt="img" class="home__gost" />
        <div class="home__titles">
          <h2 class="home__subtitle">gasper</h2>
          <h1 class="home__title">Halloween</h1>
        </div>
      </div>

      <div class="home__data">
        <p class="home__description">
          "¡Comparte tu mejor foto y dale un toque espeluznante! con un hermoso
          marco de Halloween."
        </p>
        <button class="home__button">
          <span>gasper</span>
        </button>
      </div>
    </section>
  </main>
</Layout>
